/*.pdf
/*.mat
/*.h5
/*.dropbox
/*.blg
/*.log
/*.out
/*.aux
/*.bbl
/#*
/**/.ipynb_checkpoints
/**/obipy-resources
**/*.blg
**/*.log
**/*.out
**/*.aux
**/*~
**/*.h5
**/*.mat
**/*.DS_Store
**/octave-workspace
**/*minted*
**/PLOTS/